/*可以在这里添加你自己的css*/
.component {
    position: relative;
}

.component.focus {
    outline: 2px solid #f00;
}

.component-handle {
    /*display: none;*/
    position: absolute;
    right: -24px;
    top: -3px;
}

.component:hover .component-handle {
    display: block;
}


.com-text td {
    display: block;
    min-width: 50px;
}

.test{
    text-indent: -999em;
    display: block;
    height: 1px;
}

table{
    margin-bottom: 0;
}
table br{
    display: block;
    height: 1px;
}