/*编辑器的斜体就是用的这个,所以不能重置*/
/*em {*/
    /*font-style: normal;*/
/*}*/

hr{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

td, th {
    /*padding: 5px 10px;*/
}

h1{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

/*可以在这里添加你自己的css*/
.component {
    position: relative;
    /*不能设置这个,不然会改变table*/
    /*display: inline-block;*/
}

/*table不用100%,可以直接拖动高宽的*/
/*table .component {*/
    /*width: 100%;*/
/*}*/

.component.focus {
    outline: 2px solid #f00;
}

.component.dragable {
    outline: 2px solid #f00;
    background-color: #76c0d6;
}

.component tr > div {
    display: none;
}

.component .name {
    /*在拖拽到之后,会写内联宽高,导致出错,所以强制100%*/
    width: 100%!important;
    height: 100%!important;
    border: none;
    outline: none;
    background-color: transparent;
}

.component .icon {
    box-sizing: border-box;
    margin-right: -20px;
    padding-right: 30px;
}

.com-text {
    background-color: rgb(252, 221, 139);
}

.component-handle {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #999999;
    text-align: center;
    cursor: pointer;
}
.component-handle.active {
    background-color: #8385BD;
}

.component:hover .component-handle, .dragable .component-handle {
    display: block;
}


.com-text td {
    display: block;
    min-width: 40px;
    border: none;
    padding: 0 5px 5px 0;
}

/*table .com-text td {*/
    /*width: 100%;*/
/*}*/

.test{
    text-indent: -999em;
    display: block;
    height: 1px;
}

table br{
    display: block;
    height: 1px;
}

.calendar_icon {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    line-height: 16px;
    background: url("icon.png") no-repeat;
    background-position: 0 -403px;
}