<p id="formHead" class="form_title" clicksourcefun="showRightAttrsByTrigger"
   style="color:#000000;font-size:18px;font-family:Microsoft YaHei;font-weight:normal">
    <img src="" class="form_logo" style="display: none;">
    <span class="formName" title="">206-其他费用报销单（第五版）</span>
</p>


<div class="contents_show formContent ui-sortable" style="height: 482px; background-color: rgb(222, 222, 222);"><p
        class="comblockshow ui-draggable" inputtype="text" name="field0001" controllid="1"
        style="display: flex; margin-top: 0px; margin-bottom: 0px; border-bottom-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255);">
    <label style="color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; font-weight: normal;">表单编号</label>

    <span class="controlR"><input type="text"
                                  style="color: rgb(0, 0, 0); border: none rgb(204, 204, 204); font-family: &quot;Microsoft YaHei&quot;; font-weight: normal;"></span>

    <span class="hint_bar_delete"></span>

</p>
    <p class="comblockshow ui-draggable" inputtype="member" name="field0002" controllid="2"
       style="display: flex; margin-top: 0px; margin-bottom: 0px; border-bottom-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255);">
        <label style="color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; font-weight: normal;">申请人</label>

        <span class="controlR"><input type="text" class="triangle" value=""
                                      style="color: rgb(0, 0, 0); border: none rgb(204, 204, 204); font-family: &quot;Microsoft YaHei&quot;; font-weight: normal;"></span>

        <span class="hint_bar_delete"></span>

    </p>
    <p class="comblockshow ui-draggable p_active" inputtype="date" name="field0004" controllid="3"
       style="display: flex; margin-top: 0px; margin-bottom: 0px; border-bottom-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255);">
        <label style="color: rgb(0, 0, 0); font-family: &quot;Microsoft YaHei&quot;; font-weight: normal;">申请日期</label>

        <span class="controlR"><input type="text" class="triangle" value=""
                                      style="color: rgb(0, 0, 0); border: none rgb(204, 204, 204); font-family: &quot;Microsoft YaHei&quot;; font-weight: normal;"></span>

        <span class="hint_bar_delete"></span>

    </p></div>
<div class="form_footer">
    <div id="formFooterButtons">

        <input type="button" value="保存" class="" id="form_button_0" clickrule="saveFunction" dbclickrule="">

        <input type="button" value="删除本视图" class="" id="form_button_1" clickrule="deleteFunction" dbclickrule="">

    </div>
</div>