/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul, li {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
em {
    font-style: normal;
}


html{
    height: 100%;
}
body{
    height: 100%;
    margin: 20px;
}

.tabs{
    overflow: hidden;
}
.navigation{
    overflow: hidden;
    float: left;
    max-width: 720px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.navigation li{
    position: relative;
    float: left;
    height: 30px;
    width: 100px;
    border: 1px #000000 solid;
    text-align: center;
    line-height: 30px;
    outline: none;
}
.navigation li:hover .tab-del{
    display: block;
}
.navigation .tab-del{
    display: none;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #cccccc;
}
.tabs .view-add{
    float: left;
    color: #fff;
    background-color: #ccc;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    margin-top: 4px;
}

.tabs .output{
    float: right;
    width: 100px;
    height: 30px;
    margin-right: 10%;
    text-align: center;
    line-height: 30px;
    background-color: #ccc;
    color: #00f;
}

.navigation .current {
    color: #dec8c8;
    background-color: #8486bf;
}

.domain .icon {
    width: 30px;
    height: 31px;
}

.content {
    float: left;
    width: 77%;
    margin-right: 40px;
}

.other-msg{
    float: left;
}
.other-msg-title{
    overflow: hidden;
    height: 30px;
    border: 1px #000 solid;
}
.other-msg-title li{
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px #000000 solid;
}
.other-msg-title .other-msg-current{
    color: #fff;
    border: 1px #000000 solid;
    background-color: blue;
}
.other-content .components{
    display: none;
    line-height: 40px;
}


.toolbar-tabs{
    overflow: hidden;
    background-color: #cccccc;
}

.toolbar-tabs li{
    float: left;
    width: 64px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.toolbar-tabs .current {
    color: #ff0000;
    background-color: #fff;
}

.edui-toolbar {
    display: none;
}
/*将第一个工具栏的tabs显示出来*/
.edui-toolbar:nth-child(1) {
    display: block;
}

.left-right{
    overflow: hidden;
}

.other-content{
    border: 1px solid #000;
    padding: 10px;
    border-top: none;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

div#rMenu {
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: #555;
    text-align: left;
    padding: 2px;
}

div#rMenu ul li {
    margin: 1px 0;
    padding: 0 5px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #DFDFDF;
}

div#rMenu ul li.current {
    color: #ff0000;
}